HELP.md
target/

*.mv.db
*.trace.db
*.log
*.tmp
*.temp
application-local.properties
application-dev.properties
*.exe
*.bat
*.cmd
.idea/
Thumbs.db
Desktop.ini

/.gradle/
/.mvn/
/.m2/
*.swp
*.swo
*.bak
*.old
*.orig
hs_err_pid*
replay_pid*
*.hprof
.DS_Store        # macOS
.AppleDouble
.LSOverride
/runtime/
/venv/
*.msi
*.pkg
*.dmg
*.deb
*.rpm
*.tar.gz

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
